.book-reviews{
    height: 100%;
    list-style: none;
}
.book-reviews li {
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    width: 90%;
    align-items: center;
}
.book-reviews li > :last-child{
    margin-left: auto;
    padding: 0 1rem;
}
.book-reviews li:not(:last-child){
    margin-bottom: 1rem;
}
.book-reviews li .book-cover{
    width: 5rem;
}
.book-reviews .book-details h5{
    font-size: 1.4rem;
}
.book-details .book-meta-details{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    width: 25rem;
}
.book-details .book-meta-details p{
    width: 33%;
}