:root{
    --color-primary: #ffffff;
    --color-tertiary: #f2f2f2;
    --color-secondary: #0035ff;
    --color-text-primary: #2a2a3c;
    --color-text-secondary: #e7e7e7;
    --color-text-tertiary: #8a8a8a;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: var(--color-text-secondary);
    /* background: linear-gradient(-45deg, #d8078e, #fc7802, var(--color-secondary)); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    background: #874646;
    max-height: 100vh;
}
.row-flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    border: none;
    cursor: pointer;
}
header,
main{
    padding: 1.5rem 5rem;
}
header{
    width: 100%;
    padding: 2rem 7rem;
}
header h3{
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-primary);
}
header h3::first-letter{
    font-size: 3rem;
}
.search-component, .total-results, .booksList ul li{
    border-radius: 5rem;
    padding: .2rem;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
::placeholder{
    color: var(--color-text-secondary);
}
:-ms-input-placeholder{
    color: var(--color-text-secondary);
}
::-ms-input-placeholder{
    color: var(--color-text-secondary);
}
::-webkit-input-placeholder{
    color: var(--color-text-secondary);
}
.search-component input{
    border: none;
    outline: none;
    padding: 1rem;
    width: 40rem;
    background-color: transparent;
    color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
}
.btn-primary{
    background: rgba(42, 42, 60, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: var(--color-primary);
    padding: 1.1rem;
    border-radius: 5rem;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .5px;
    font-family: 'Poppins', sans-serif;
}
.view-footer button,
.btn-primary.active{
    color: var(--color-text-primary);
    background-color: var(--color-primary);
}
.review-tabs .btn-primary:last-child{
    margin-left: 1rem;
}
.search-component button{
    padding: 1.1rem;
    background-color: var(--color-primary);
    border-radius: 50%;
}
.total-results{
    padding: 1rem;
    border-radius: 1rem;
    word-spacing: 2px;
}
main{
    display: flex;
    /* justify-content: space-around; */
    height: calc(100vh - 8.5rem);
}
main aside{
    width: 40%;
}
main > div,
main aside{
    border-radius: 1rem;
}
main > div{
    width: 57%;
}
aside > div{
    height: inherit;
    overflow: hidden;
}
aside > div{
    height: calc(100vh - 11.48rem);
    overflow-y: scroll;
}
aside > div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px var(--color-primary);
	border-radius: 10px;
	background-color: transparent;
}
aside > div::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}
aside > div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px var(--color-primary);
	background-color: var(--color-primary);
}
.booksList ul{
    list-style: none;
    width: 95%;
    margin: 0 auto;
}
.booksList ul li{
    display: flex;
    padding: 1rem;
    margin: .5rem 0;
    border-radius: .4rem;
    cursor: pointer;
}
.booksList ul li .book-cover{
    width: 10rem;
    margin-right: 1.5rem;
}
.booksList ul li .book-cover img{
    display: block;
    width: 10rem;
    height: auto;
}
.booksList ul li .book-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.booksList ul li .book-details h4{
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.6rem;
}
.book-details-footer{
    margin-top: 1.5rem;
    padding: 1rem 0;
}
.book-details-footer p:last-child,
.details-meta p:nth-of-type(2){
    text-transform: capitalize;
}
.review-container{
    margin-left: 2rem;
}
.review-tabs{
    margin: 1rem 0;
    padding: 0 1rem;
}
.view{
    height: 70vh;
    background: rgba(42, 42, 60, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 2rem;
    border-radius: .5rem;
    position: relative;
}
.view-head{
    display: flex;
}
.view-img{
    margin-right: 1.5rem;
}
.view-book-details{
    height: inherit;
    display: flex;
    flex-direction: column;
}
.view-body p{
    padding: 1rem 0;
    max-height: 9.5rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.view-book-details h4{
    color: var(--color-primary);
    font-size: 1.8rem;
}
.view-book-details h5{
    font-size: 1.4rem;
    padding: .5rem 0;
    font-weight: 400;
}
.view-body h4{
    font-weight: 600;
}
.view-body{
    padding: 1rem;
}
.details-meta{
    margin-top: 1rem;
    padding: 1rem 0;
}
.details-meta p{
    padding: .5rem 0;
}
.view-footer{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    padding: 1rem;
    background-color: rgba(42, 42, 60, 0.25);
    border-radius: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.view-footer button{
    margin-right: 1rem;
}
.review-stars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 20rem;
}
.stars{
    display: flex;
    flex-direction: row-reverse;
}
.stars span{
    font-size: 2.5rem;
    margin-right: .5rem;
    cursor: pointer;
}
.review-stars p{
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
.review-stars p,
.stars span:hover,
.stars span:hover ~ span,
.stars span.active{
    color: gold;
}
.errorContainer{
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0 auto;
}
.loader{
    position: relative;
    width: 4rem;
    height: 4rem;
    border: .4rem solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    margin: auto;
}
.loader div{
    position: absolute;
    bottom: -.4rem;
    left: -.4rem;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: .4rem solid transparent;
    border-bottom: .4rem solid var(--color-primary);
    animation: loaderOnLoad 2s linear infinite;
}
@keyframes loaderOnLoad{
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
}
@media only screen and (max-width: 56.25em){
    html{
        font-size: 50%;
    }
}